@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-sans:
		"Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--background: oklch(0.96 0.01 271.34);
	--foreground: oklch(0.21 0.03 263.61);
	--card: oklch(0.98 0.01 271.41);
	--card-foreground: oklch(0.21 0.03 263.61);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.21 0.03 263.61);
	--primary: oklch(0.48 0.2 260.47);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.91 0.02 274.06);
	--secondary-foreground: oklch(0.37 0.03 259.73);
	--muted: oklch(0.94 0.02 274.86);
	--muted-foreground: oklch(0.55 0.02 264.41);
	--accent: oklch(0.95 0.02 260.18);
	--accent-foreground: oklch(0.48 0.2 260.47);
	--destructive: oklch(0.58 0.22 27.29);
	--border: oklch(0.89 0.02 259.43);
	--input: oklch(0.9 0.01 266.73);
	--ring: oklch(0.48 0.2 260.47);
	--chart-1: oklch(0.48 0.2 260.47);
	--chart-2: oklch(0.56 0.24 260.92);
	--chart-3: oklch(0.4 0.16 259.61);
	--chart-4: oklch(0.43 0.16 259.82);
	--chart-5: oklch(0.29 0.07 261.2);
	--sidebar: oklch(0.97 0 0);
	--sidebar-foreground: oklch(0.21 0.03 263.61);
	--sidebar-primary: oklch(0.48 0.2 260.47);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.95 0.02 260.18);
	--sidebar-accent-foreground: oklch(0.48 0.2 260.47);
	--sidebar-border: oklch(0.93 0.01 261.82);
	--sidebar-ring: oklch(0.48 0.2 260.47);

	--radius: 0.375rem;
}

[data-theme="dark"] {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.59 0.2 277);
	--primary-foreground: oklch(0.96 0.02 272);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--warning: oklch(0.803 0.23 91.269);
	--success: oklch(0.605 0.198 136.718);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.552 0.016 285.938);
	--chart-1: oklch(0.79 0.1 275);
	--chart-2: oklch(0.68 0.16 277);
	--chart-3: oklch(0.59 0.2 277);
	--chart-4: oklch(0.51 0.23 277);
	--chart-5: oklch(0.46 0.21 277);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.68 0.16 277);
	--sidebar-primary-foreground: oklch(0.96 0.02 272);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}

	input[type="search"]::-webkit-search-cancel-button {
		display: none;
	}
}
